body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.todo-item {
  display: flex;
  margin: 6px;
  padding: 6px;
  width: 416px;
  background-color: #009ddc;
  color: #fff1d0;
}

.todo-panel {
  margin: 6px;
  padding: 6px;
  width: 416px;
}

.todo-item-content-not-edited {
  margin: 4px;
  padding: 4px;
  width: 370px;
  border: 0;
  font-size: 14px;
}

.todo-item-content-edited {
  margin: 4px;
  padding: 4px;
  width: 370px;
  border: 0;
  font-size: 14px;
}

.todo-item-sidebar {
  position: relative;
  margin: 4px;
  padding: 4px;
  width: 30px;
}

.todo-item-delete-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  height: 24px;
  line-height: 26px;
  width: 24px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.todo-item-delete-button:hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  height: 24px;
  line-height: 26px;
  width: 24px;
  background-color: #fff;
  border-radius: 15px;
  color: #009ddc;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
